{% extends 'registration/base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Password Reset</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Please enter your email address, and we will send you an email with instructions to reset your password.</p>
                        <div class="form-group mb-3">
                            <label for="{{ form.email.id_for_label }}">Email:</label>
                            <input type="email" name="{{ form.email.html_name }}" class="form-control" id="{{ form.email.auto_id }}" {% if form.email.value != None %}value="{{ form.email.value }}"{% endif %}>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
