{% extends 'excelfiles/base.html' %}
{% load static %}


{% block custom_css %}
    <link rel="stylesheet" href="{% static 'excelfiles/css/create_rfi.css' %}">
    <link rel="stylesheet" href="{% static 'excelfiles/css/messages.css' %}">
{% endblock %}


{% block message %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<script>
    setTimeout(function() {
        window.location.href = "{% url 'rficrud:index' %}";
    }, 5000); // 5000 миллисекунд = 5 секунд
</script>
{% endblock %}

